doctype html
include mixins
include mapMixins

mixin partner(partnerIconSrc, partnerUrl, partnerText)
  div(style="display:flex; margin-bottom:10px;")
    div(style="width:200px; height:100px; flex-shrink:0;")
      a(href=partnerUrl rel="noopener noreferrer" target="_blank")
          img(src=partnerIconSrc style="max-height:150px; width:100%; height:auto; margin:5px;")
    div(style="margin:10px 10px 10px 20px;") #{partnerText}

html
 head
     link(rel='stylesheet', href='/stylesheets/style.css')

body
  +header(true)
  div(style="max-width:800px; margin:auto;")
    div
      div(style="width=100%; text-align:center; background:url('/images/blue_overlook_nightcity_horiz.png') darkblue; background-size: cover; height:270px; display:flex; justify-content:center;")
        div(style="padding-left:20px; padding-right:20px; max-width:900px;")
          div(style="color:white; font-weight:700; font-size:20px; margin-top:50px;") About Us
          div(style="background:white; height:1px; width:50%; margin:auto; margin-top:10px; margin-bottom:10px;")
          div(style="color:white; padding-right:100px; padding-left:100px; padding-bottom:5px;") The Urban Biodiversity Hub (UBHub) helps cities around the world to measure and promote their biodiversity and assess their biodiversity strategy. We work with municipal and other local governments and their partners to improve the efficiency and effectiveness of their biodiversity planning, according to the goals they set for themselves. We do this by consolidating information on urban biodiversity planning activities and guides in one website, and through our forum and other resources pages which provide access to the latest practices for urban biodiversity planning.

      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px; margin-top:15px") GOALS
      div(style="padding:10px") Our immediate goal is to create a web tool for local governments (cities) to measure their biodiversity and assess their biodiversity strategy. In the long term, we are looking to promote biodiversity awareness and action within and around cities due to future urban issues.
        div(style="display:flex; width:100%;")
          img(style="max-width:790px; max-height:400px; margin:auto; margin-top:20px;" src="images/UBHub_goals_sep_2018.png")

      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px;") ABOUT US
      div(style="display:flex; flex-direction:column;")
        div(style="display:flex;")
          img(style="height:110px; padding:0px 0px 0px 0px;" src="images/Bee.svg")
          div(style="padding:30px") Our team formed in December of 2016 at the 13th Conference of the Parties of the Convention on Biological Diversity. We came together out of mutual interest in promoting measurable biodiversity actions in cities around the world. We have since built an international organizational structure that is maintained via regular online meetings and reliance on the latest in remote team management tools. <br><br> Our team consists of volunteers from around the world. Some are professionals in biodiversity, conservation policy, or web development, and others are passionate to learn and make a difference. We have representatives all around the world, allowing us to serve the specific regional needs and contributing in the development of best practices for urban biodiversity strategies.
        div(style="display:flex; width:100%; margin-top:10px;")
          img(style="height: 300px; margin: auto;" src="images/UBHub_team_map_sep_2018.png")

      div(class="aboutUsHeader") PARTNERS
      img(src="images/partner_edmonton.jpg" style="width:800px;")
      div(style="display:flex;")
        img(src="images/EDM_logo_Colour_M.png" style="height:100px; margin:5px;")
        div(style="margin-top:5px;") The City of Edmonton in Alberta, Canada has a rich natural heritage. The North Saskatchewan River Valley and Ravines System, known locally as the “Ribbon of Green”, winds through the city’s centre and, at 7,400 hectares, forms the largest municipally owned urban park in North America. On the flat tablelands above the river valley, forests and wetlands remain on the landscape among developed areas, and still support a relative diversity of wildlife. As Edmonton and surrounding communities continue to develop, there is a growing recognition of the need for regional collaboration to protect and restore the region’s natural systems.
      div <p>As outlined in Edmonton's Biodiversity Action Plan, the City's vision is to create "A system of conserved natural areas, ecologically and effectively managed, connecting the river valley with tableland natural areas, restored green spaces and regional natural areas, and recognized and supported by the community of Edmonton as a valued asset."<p>The City uses a range of conservation tools to protect and manage natural areas and biodiversity, including plans and policies that set high level strategic direction, planning tools like the dedication of reserve lands that protect habitats from development, management approaches that support the natural function of the landscape (e.g. wildlife connectivity analysis and wildlife passage design), and land purchase and donation programs, such as the Edmonton and Area Land Trust, that help to secure unprotected natural areas.<p>While Edmonton faces significant challenges in natural areas protection, including a rapidly growing economy and population base, limited municipal funds, and restricted legislative authority, it has achieved some important successes through strong partnerships, the support of committed volunteers, and high prioritization of environmental issues by City Council and citizens.

      div(class="aboutUsHeader") COLLABORATORS
      div(style="margin-top:5px; margin-bottom:20px;") The Urban Biodiversity Hub has ongoing projects with collaborative partners as described below
      +partner("images/EWS2019_logo.jpg", "http://ecocity2019.com/", "Join us at Ecocity World Summit 2019, October 7-11 in Vancouver, Canada, as we dig into the ecological imperatives to reshape cities for long-term health of human and natural systems. The International Ecocity Standards provide an innovative vision for an ecologically-restorative human civilization as well as a practical methodology for assessing and guiding progress towards the goal. Together we can build the bridge to socially just and ecologically sustainable cities.")
      +partner("images/GPSC Full Logo.jpg", "https://www.thegpsc.org", "The Global Platform for Sustainable Cities (GPSC) is a partnership and knowledge platform that promotes integrated solutions and cutting-edge support for cities seeking to improve their urban sustainability. The platform comprises 28 cities across 11 countries and is led by the World Bank. GPSC connects its cities with various stakeholders—including development banks, UN agencies, knowledge partners, investment partners, resource partners, and others—to pursue a holistic approach to sustainable urbanization, link projects to financing, and thereby facilitate the transformation of knowledge to investment.")
      +partner("images/UBILogo.jpg", "http://ubif.us/", "The Urban Biodiversity Inventory Framework (UBIF) was developed to guide and support cities in their efforts to successfully record, analyze, and assess biodiversity information in urban areas.  By providing a way to accurately and consistently assess biodiversity resources and track changes over time, the UBIF can assist cities in making appropriate management decisions to protect their ecological assets. The UBIF is a tool cities can use in the collection of biodiversity information to support proactive efforts to maintain and enhance urban biodiversity, as well as identify the need for response when species are declining. By applying the UBIF methodology, cities can monitor the response to actions, such as restoration activities, designed to enhance urban biodiversity. The UBIF structure also allows cities to record changes in urban biodiversity for a specific species, taxa group, or for multiple taxa in a specific habitat of interest. This flexibility provides information at different levels of organization and can also be used to generate a “report card” or summary score, aiding in the communication of biological information to diverse audiences.")
      +partner("images/logo_AIPH.png", "https://www.aiph.org", 'AIPH, the International Association of Horticultural Producers and the world’s champion for the power of plants, has, since 1948, united horticultural producers in an international community that thrives to this day. Much has changed in that time. Technologies advanced, cities rose from the ground, and we have become more connected than ever. As a result, our essential bond with nature has been weakened. Thus, AIPH strives to reignite and uphold an appreciation of plants that we believe is a basic human instinct. Nature is the foundation on which our increasingly urban lives depend. Through our Green City Programme, we promote the essential role of plants in creating vibrant urban areas and aim to develop an international standard for green cities as well as being a focal point for green city best practice and a source of expertise. We lead global thinking on the successful integration of nature into the built environment by supporting the bold and ambitious actions of local governments. The AIPH World Green City Awards is our flagship Green City initiative, with entries open every two years. These Awards are designed to champion ambitious nature-orientated approaches to city design and operation. Through our Green City work, we aim to inspire a global movement of local governments who are driving nature-orientated approaches to building greener, healthier, and more liveable cities that are fit for the future. By transforming cities into places where humans and nature can thrive harmoniously, we create an enabling environment for promoting urban initiatives which demonstrate the multiple benefits that plants and nature provide in response to the many challenges cities currently face, thereby contributing to sustaining our planet, for this generation and the next.')

      div(style="padding:10px") See below for bios of some of our active contributors.

      //STEERING COMMITTEE
      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px; margin-top: 20px") STEERING COMMITTEE

      //Mika Mei Jia Tan
      div(style="display:flex;padding:10px;")
        img(src="images/bio_mika.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px") <b> Mika Mei Jia Tan </b>
              | leads Urban Biodiversity Hub’s Steering Committee. She has been working with youth in the environmental scene for the past 9 years, from developing capacity building programmes and exploring socio-environmental entrepreneurship, to engaging in science communication and lobbying for conservation policy at the United Nations. As an interdisciplinary thinker, she holds a B.A. in Environmental Studies (Conservation Biology) from Middlebury College, USA, is an inaugural Middlebury Social Entrepreneurship Fellow, and a Loke Cheng-Kim Scholar.
              p Currently, she is the Coordinator of the ASEAN Youth Biodiversity Programme (AYBP) at the ASEAN Biodiversity Centre based in Los Baños, Philippines. Her work involves crafting training and mentorship programmes to empower youth in the region. If she's not in the office, Mika can often be found dancing street latin, running, exploring the outdoors, or practising various languages with friends.&nbsp;
                a(href="https://www.linkedin.com/in/mikatan/")
                  img(src="images/logo_linkedin-14px.png")

      //Jennifer Rae Pierce
      div(style="display:flex;padding:10px;")
        img(src="images/bio_jen.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Jennifer Rae Pierce </b>
              | heads Urban Biodiversity Hub’s Partnerships & Engagement team and is a Steering Committee member.  She is a political ecologist and urban biodiversity planner.  She is currently working on her PhD at the University of British Columbia on the topic of engagement in urban biodiversity planning.  She has an architecture degree from the Illinois Institute of Technology, a Master’s in City and Regional Planning from Cornell University and a Master’s in Environmental Science and Policy from Central European University.
              p She produced a toolkit on mainstreaming biodiversity and ecosystem services across local governments for ICLEI called the Nature of Mainstreaming.  Her research includes international comparative work on urban biodiversity plans as well as onsite research on biodiversity practices in Curitiba, Brazil, and Jerusalem, Israel.  She taught environmental philosophy and planning at CEPT University.  She has worked with the City of Vancouver as a Greenest City Scholar to develop assessments and recommendations on urban beavers and Canada geese, and also partnered with BCIT to measure the ecological footprint of the city.&nbsp;
                a(href="https://www.linkedin.com/in/nestcities/")
                  img(src="images/logo_linkedin-14px.png")
                //|  and
                //a(href="https://twitter.com/NestCities") Twitter

      //Michael Halder
      div(style="display:flex;padding:10px;")
        img(src="images/bio_michael.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b>Michael Halder</b> is an environmental policy professional residing in the City of Toronto, Canada with a keen interest in biodiversity protection. He currently serves as a Research and Planning Analyst with the Ontario Ministry of Environment, Conservation and Parks in the area of source water protection where he helps to ensure that both groundwater and surface water bodies, which are sources of drinking water, are protected against potentially harmful activities on the landscape.
                div In addition to his professional career, Michael has and continues to be involved in a number of urban nature conservation projects. One of his first acts was to construct a native wildflower garden to serve as a refuge for monarch butterflies. Since then, he has been involved with the City of Toronto’s Community Stewardship Program and tasked with removing non-native, invasive species and planting native trees and shrubs in a City park. Working alongside other community members, he helped to plant over 200 native trees as part of the Leslieville Tree Project to renew the urban canopy in Toronto’s east end. The Leslieville Tree Project was formally recognized by the Ontario government through its June Callwood Award for Outstanding Voluntarism that is awarded to noteworthy community groups. He is currently a proud member of the Toronto Field Naturalists, a volunteer-supported urban nature conservation group, the goals of which are to learn about, enjoy, and to protect Toronto’s green spaces and the species that live within them.
                div Michael has a Master’s Degree in Environmental Studies specializing in environmental planning from York University in Toronto, Canada. His graduate major paper focused on evaluating the City of Toronto's policies, plans, programs for protecting its natural areas against the principles of ecosystem planning. Michael also earned an Honours Bachelor of Science Degree specializing in Environmental Science and International Development Studies from the University of Toronto. With nearly 10 years of experience in undertaking policy research, data analysis, and program evaluation under his belt, Michael always looks forward to contributing towards protecting nature in urban areas and beyond.
              p
                a(href="https://www.linkedin.com/in/michaelhalder/")
                  img(src="images/logo_linkedin-14px.png")

      //Pablo López
      div(style="display:flex;padding:10px;")
          img(src="images/bio_pablo.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
          div(class="bioBackground")
              div(style="overflow-y:auto; height:280px;")
                  div(style="padding:0px 12px 0px 0px;")
                      span(style="font-size:18px")
                          <b> Pablo López </b>
                      | is a Biologist and Master in Environmental Management and was born in Mexico City. He completed his undergraduate studies at the UNAM, where he participated in an exchange program on Nature Conservation with the University of Helsinki, in Finland. Subsequently, he began his postgraduate studies at the University of Queensland in Australia, focusing on the conservation of nature from an international perspective. He is a member of the World Commission on Protected Areas where he participated in the elaboration of the Green List standard. He has worked with the Government of Mexico and the Convention on Biological Diversity of the United Nations in organizing the 5th Global Biodiversity Summit of Cities and Subnational Governments and the 3rd Science for Biodiversity Forum in the United Nations Biodiversity Conference (COP13) in Cancun. His most recent experience has been working for two years at the Ramsar Convention Secretariat, where he supported the 30 countries that are part of the Americas region, following up on projects and working hand in hand with governments and their representations in the United Nations. He is the founder of www.chasingworldheritage.com.
                      p
                          a(href="https://www.linkedin.com/in/palg1305/")
                              img(src="images/logo_linkedin-14px.png")

      //TEAM BIOS
      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px; margin-top: 20px") TEAM BIOS

      //Anushri Tiwari
      div(style="display:flex;padding:10px;")
        img(src="images/bio_anushri.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b>Anushri Tiwari </b>
              | is the South Asia Regional Coordinator for UBHub and an urban planner by profession. She graduated from CEPT University and was a graduate fellow for Rising Water at UPenn. She is currently a Pre-doctoral fellow associated with the International Water Management Institute and is working around water resilience in urban areas. She is an urban planner and researcher who is enthusiastic about exploring the blue-green spaces and conversing with people to know more about their stories. Presently she is unearthing various dimensions of water in cityscape planning and governance as a process that drives cities on the ground. She aims to go beyond normalized assumptions that we can manage natural resources through narrow technocratic and conventional development practices but views value in alternate systems with community engagement as a key ingredient for a progressive future. Anushri is also interested in uncovering realities from data through visualisation and representation as she puts it “every data has a story to convey”.

      //Sabrina Drill
      div(style="display:flex;padding:10px;")
        img(src="images/bio_sabrina.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Sabrina Drill </b>
              | is the Natural Resources Advisor for UC Cooperative Extension in Los Angeles and Ventura. Her current areas of research and extension include restoration of urban streams, terrestrial and aquatic invasive species, fire ecology and recovery in watersheds, and public participation in science and resource stewardship. She recently finished a tenure as the Associate Director and the Southern California lead for the UC California Naturalist Program where she was especially interested in ways to engage underserved communities in conservation and management. She has served as a board member of the Southern California Academy of Sciences and the Alliance of Outreach and Service Professionals, and been a visiting scholar at the University of Oklahoma/Oklahoma Biological Survey, the UCLA Institute of the Environment, and the University of Malawi Centre for Social Science Research. Dr. Drill has conducted research in Southern California, the Colorado River, the Hudson River, and the East African Great Lakes. She holds a Ph.D. in Geography and a M.S. in Biology from UCLA, a B.S. in Biology from Virginia Tech, and an A.A. in Natural Science from Simon’s Rock of Bard College.

      //Melissa Barton
      div(style="display:flex;padding:10px;")
        img(src="images/bio_melissa.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Melissa Barton </b>
              | heads the Urban Biodiversity Hub’s Research and Development team and is a Steering Committee member. She is an independent researcher based in Portland, Oregon, USA; her current research focuses on nature-based solutions, green infrastructure, and urban biodiversity. She earned a master’s degree in Environmental Science, Policy and Management in a joint program with Lund University, Central European University, and the University of Manchester, as well as a bachelor’s degree in Geology from Colorado College. Previously, she worked for the National Ecological Observatory Network (NEON) and the U.S. National Park Service.
              p
                a(href="https://www.linkedin.com/in/melissabarton/")
                  img(src="images/logo_linkedin-14px.png")

      //Glen Vincent Pierce
      div(style="display:flex;padding:10px;")
        img(src="images/bio_glen.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Glen Vincent Pierce </b>
              | is head of the Software Engineering Team.  He is a software engineer who enjoys making games and other fun projects. From a background in computational and algorithmic finance, he transitioned into application development in 2013. He works as a Java developer at Jostle. He started work on the UBHub website to learn some of the new technologies that are implemented in the architecture of the site.
              p
                a(href="https://www.linkedin.com/in/piercegv/")
                  img(src="images/logo_linkedin-14px.png")
                |  and&nbsp;
                a(href="https://www.github.com/glenpierce/") GitHub


      //Joshua Grant
      div(style="display:flex;padding:10px;")
        img(src="images/bio_Joshua.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Joshua Grant </b>
              | is a member of the Software Engineering team. He likes to tinker with digital art, conceptual poetry, artificial intelligence, procedural generation, and mostly-vegetarian cooking. He holds a Bachelor’s in English and a Diploma in Professional Writing. He currently studies computer science at the University of British Columbia.
              p Find him at&nbsp;
                a(href="http://joshua.works") JoshuaDotWorks

      //Jaydip Biniwale
      div(style="display:flex;padding:10px;")
        img(src="images/bio_jaydip.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Jaydip Biniwale </b>
              | contributes graphics skills and heads our twitter account as part of the Communications Team.  He is a graduate of CEPT University in City, Community, and Regional Planning. He is the Designer of Systems at Godrej & Boyce Mfg. Co. Ltd.
              p
                a(href="https://www.linkedin.com/in/jaydip-biniwale-819b723b/")
                  img(src="images/logo_linkedin-14px.png")

      //João Elias de Brito
      div(style="display:flex;padding:10px;")
        img(src="images/bio_joao.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> João Elias de Brito </b>
              | is an illustrator and graphic designer on the Communications Team.  He led the creation of our logo. He is the founder of Zoo do Joo graphic design company.
              p
                a(href="https://www.behance.net/zoodojoo") Website
                |  and&nbsp;
                a(href="https://www.flickr.com/photos/joaoeliasdebrito") Flickr

      //Juan de Dios Morales
      div(style="display:flex;padding:10px;")
        img(src="images/bio_juandedios.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Juan de Dios Morales </b>
              | is a member of our Partnerships & Engagement Team. He is the Executive founder of the Wild GYE Initiative, a project awarded by the Municipality of Guayaquil that is aiming for the promotion of Guayaquil´s best nature through conservation photography.
              p He has an Msc. Environment from the University of Melbourne, Australia. He has worked with different public/private, academy and NGOs (national and international institutions) in different environmental issues but mainly focusing in ecology, environmental management, nature conservation photography, environmental communication and education. He has a very good knowledge of ecological research, environmental policy and planning strategies, ecotourism and project management. His interests and expertise are in ecosystem-based management, sustainable development, creative biological conservation and urban ecosystem services. He pursues bridging technical aspect of ecological science and technology into a more common language in order to promote citizen environmental stewardship. He truly believes in urban ecology and urban green spaces as the new way of connecting nature and citizens for urban conservation biology.
              p(style="margin-bottom:0px;") Follow him:
              p(style="margin-top:0px; margin-bottom:0px;") Facebook and Instagram: @wildgyeinitiative
              p(style="margin-top:0px;") Facebook and Instagram: @juandediosmoralesphotography
              p
                a(href="https://www.linkedin.com/in/username/")
                  img(src="images/logo_linkedin-14px.png")

      //Ayaka Kanaike
      div(style="display:flex;padding:10px;")
        img(src="images/bio_ayaka.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Ayaka Kanaike </b>
              | is currently working on her Master’s degree in Landscape and Ecological Planning at Kyoto University. She interned at the terrestrial branch of the National Biodiversity Centre (National Parks Board). There, she worked on her own project “bird diversity in urban green spaces", which is her current research topic. Ayaka completed another internship at WWF-Malaysia and engaged in the “Orangutan conservation project". Ayaka earned a Bachelor’s degree in Biological Sciences (Ecology) from Nara Women’s University. During her degree, she studied abroad at the University of Leicester where she received academic credit in Biological Sciences. There, she engaged in environmental conservation with The Wildlife Trusts as a volunteer. Ayaka is also an active member of Team Business for Sustainability (TB4S), which is a youth platform aimed at promoting social enterprise in Japan.
              p 奈良女子大学で生物科学を専攻。在学中交換留学生としてイギリスのUniversity of Leicesterにて生物科学を学び、またThe Wildlife Trustで環境保全のボランティア活動をした。現在は京都大学で景観生態保全論を専攻している。シンガポールのNational Parks Boardでインターンシップを行い、都市に生息するインコの生態について調査をした他、WWF-Malaysiaでのインターンシップではオランウータンの保全プロジェクトに参加した。民間企業による社会課題解決型ビジネスを促進するユースプラットフォーム、Team Business for Sustainability(TB4S)に所属しており、日本における社会解決型ビジネスを広めるための活動を行っている。

      //Jesse McKenna
      div(style="display:flex;padding:10px;")
        img(src="images/bio_jesse.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Jesse McKenna </b>
              | is a software engineer on the Software Engineering Team. She is interested in developing software for a good cause.
              p She is currently studying computer science at Oregon State University. She also holds a Bachelor's in Sustainability from Arizona State University and a Master's in Environmental Analysis from Rice University.
              p
                a(href="https://www.linkedin.com/in/jessemckenna/")
                  img(src="images/logo_linkedin-14px.png")
                |  and&nbsp;
                a(href="https://www.github.com/jessemckenna/") GitHub

      //Carolina Mudan Marelli
      div(style="display:flex;padding:10px;")
        img(src="images/fototessera.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Carolina Mudan Marelli </b>
              | is a PhD candidate in Social Science at the University of Sassari in Italy. Her first research topics focused on urban inequality, social problems and public policies. In 2015 she started her PhD in urban planning in Paris at the Laboratoire Architecture et Anthropologie (LAVUE UMR 7218). Her thesis is on measure(s) of urban biodiversity. She was a visiting researcher at the National Biodiversity Center in Singapore in 2016, to study the City Biodiversity Index. Her research interest covered alternative means of measuring biodiversity, beyond quantitative methods.
              p Docteur en sciences sociales à l'Université de Sassari, en Italie. Ses premiers sujets de recherche étaient centrés sur l'inégalité urbaine, les problèmes socio-urbains et les politiques publiques. En 2015, elle a commencé un doctorat en aménagement et urbanisme, à Paris, au Laboratoire Architecture et Anthropologie (LAVUE UMR 7218). Elle travaille actuellement sur sa thèse qui porte sur les Mesures de la Biodiversité Urbaine. En 2016, elle a été visiting researcher au National Biodiversity Centre de Singapour pour étudier l'indice de biodiversité de la ville (CBI). Son intérêt pour la recherche porte également sur la possibilité de produire d'autres façon de mesurer la biodiversité, en essayant d'aller au-delà de la quantification.

      ////Diego Padilla
      //div(style="display:flex;padding:10px;")
      //  img(src="images/bio_diego.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
      //  div(class="bioBackground")
      //    div(style="overflow-y:auto; height:280px;")
      //      div(style="padding:0px 12px 0px 0px;")
      //        span(style="font-size:18px")
      //          <b> Diego Padilla </b>
      //        | is the CEO & Founder at Centro Urbes. He earned a degree in biology from Universidad Nacional Agraria La Molina with a focus on ecosystem services and resilience in Colombia, France and Argentina.  He has experience working with the public sector, including the Minister of Environment in Peru and the United Nations (GIZ, UNDP).  He is the founder of Proyecto Lomas at the Peruvian Center for Urban Ecosystem Resilience (Centro Peruano para la Resiliencia de Socioecosistemas Urbanos). He is a socio-ecological entrepreneur with experience with urban youth and communication strategies.  He is the creator of the ‘Entronos’ method.  He is a Fellow of SWY of Japan, Red Global 4H, YouthfulCities, Emprende UP and Yunus & Youth.
      //        p
      //          a(href="https://www.linkedin.com/in/diegopadillahuaman/")
      //            img(src="images/logo_linkedin-14px.png")

      //Ainkaran Pathmanathan
      div(style="display:flex;padding:10px;")
        img(src="images/bio_ainkaran.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Ainkaran Pathmanathan </b>
              | contributes his coding skills to the Software Engineering Team. He is a software developer with over 10 years of Enterprise Data Warehouse, Enterprise Application Integration, and ETL/BI experience (with Cloud Computing) in Business and Information Technology, Marketing/Advertising (media), Health, Telecommunications, Bank/Finance/Insurance, Energy and Agriculture sectors. And also developed web applications with Rails and NodeJS & Express frameworks, created HTTP, RESTful API client endpoints and developed to consume the API using REACT client framework. Wrote TDD on Ruby on Rails, and many unit tests, and API tests using Postman, Google DevTools, and React DevTools.
              p
                a(href="https://www.linkedin.com/in/ainkaran/")
                  img(src="images/logo_linkedin-14px.png")

      //Anushka Thakkar
      div(style="display:flex;padding:10px;")
        img(src="images/bio_anushka.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Anushka Thakkar </b>
              | contributes research skills and regional expertise in India as part of the Research & Development Team. She earned the first Superstar designation among our volunteers for her efforts compiling activities in India. She is a graduate of CEPT University in City, Community, and Regional Planning.
              p
                a(href="https://www.linkedin.com/in/anushri-tiwari-89878291/")
                  img(src="images/logo_linkedin-14px.png")

      //Adam Venezia
      div(style="display:flex;padding:10px;")
        img(src="images/bio_adam.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Adam Venezia </b>
              | is a member of the Software Engineering team.  He is a software engineer with an eclectic background, including civil engineering, teaching, martial arts, and creative writing. A lover of mathematics, science, language, with a recent interest in politics and government policy, he joined the UBHub group to learn how both website development and political activism are done in practice.
              p
              div(style="display:flex;")
                a(href="https://www.linkedin.com/in/avenezia")
                  img(src="images/logo_linkedin-14px.png")
                div &nbsp;
                a(href="https://github.com/av2335") GitHub
                div &nbsp;and&nbsp;
                a(href="https://adamvenezia.wordpress.com/") WordPress

      //Adrian Watson
      div(style="display:flex;padding:10px;")
        img(src="images/bio_adrian.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Adrian Watson </b>
              | graduated from the University of the West Indies, Mona, Jamaica with a double major degree in Geography and Zoology. He is a social entrepreneur and an urban beekeeper. He is the founder and C.E.O. of Honai Beez Apiary. He has experience in working with youth and local communities specifically in the areas of climate change and ecosystem services over the last decade.   He participated in many local and international environmental initiatives such as being a climate change facilitator in the JaREEACH Climate Change Action Agent Schools and sitting on the selection committee for the Global Youth Biodiversity COP 13 and African Workshop selection panels. He has played a leading role in many local and international organizations such as being the Caribbean & Latin American Focal Point for the Global Youth Biodiversity Network, the National Coordinator for the Caribbean Youth Environment Network in Jamaica, Public Relations Officer for the Kingston and St. Andrew Bee Farmers Association, and Management Committee Member with the Jamaica Organic Agriculture Movement.
              p
                a(href="https://www.linkedin.com/in/adrian-watson-37097a4a/")
                  img(src="images/logo_linkedin-14px.png")
                |  and&nbsp;
                a(href="http://adrianwatsonactvities.weebly.com/") Website

      //Rohan Nuttall
      div(style="display:flex;padding:10px;")
        img(src="images/bio_rohan.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Rohan Nuttall </b>
              | joined UBHub in 2019 to assist with software and data projects. He has a background in physics and computer science and is currently pursuing a Master's in reinforcement learning applied to real world problems in health, conservation, and energy.
              p
                a(href="https://www.linkedin.com/in/rohan-nuttall/")
                  img(src="images/logo_linkedin-14px.png")
                |  and&nbsp;
                a(href="https://www.rohancalum.github.io") Personal Website

      //INTERNS
      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px;") INTERNS

      //Joanne Fitzgibbons
      div(style="display:flex;padding:10px;")
        img(src="images/bio_joanne.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b>Jo Fitzgibbons </b>
              | joined UBHub in October 2020 as a UBC Sustainability Scholar researching justice in urban biodiversity planning. She is PhD student and urban sustainability researcher in CHANS Lab at the University of British Columbia (UBC) with a background in urban planning, geography and international development. Her work is oriented to governance, ethics and justice in co-creative processes surrounding urban sustainability and resilience. Her doctoral research focuses on these issues in relation to urban rewilding and habitat creation, and her previous Master’s research was focused on justice in urban resilience planning. At UBC's Institute for Resources, Environment and Sustainability (IRES), Jo is involved with several extra-curricular efforts to promote sustainability, community engagement, and anti-racism within the department.
              p Jo is originally from Halifax, Nova Scotia. In life outside of work, she loves scuba diving, hiking, painting, campy sci-fi, and gawking at cute animals.

      //Kaja Aagaard
      div(style="display:flex;padding:10px;")
        img(src="images/bio_kaja.jpeg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b>Kaja Aagaard </b>
              | is an undergraduate student at Middlebury College in Vermont, where she studies biology and global health. Her particular interests are in microbiology, disease ecology and their social and cultural impacts. She has published academic work on cross-cultural healthcare, holds a leadership position in her college’s global health club and volunteers in an on-campus research lab investigating the prevalence of parasites in indigenous food sources.

      //Audrey Hsi
      div(style="display:flex;padding:10px;")
        img(src="images/bio_audrey.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b>Audrey Hsi </b>
              | joined UBHub as an intern for Summer 2020 to write a comprehensive analysis of current status and trends of urban biodiversity activities with data from the UBHub database.
              p As a student of Middlebury College, she is currently working towards her undergraduate degrees in Biology and Anthropology.  Previous projects that Audrey has done include temporal monitoring of tree populations in Vermont and investigative research of conservation practices in the Great Marsh in Massachusetts.  Outside of her projects, Audrey has an intense fascination in marine biology, paleontology and zooarchaeology.
              p In the interim, you can find Audrey near any body of water. From the beaches of the United States’s northeast to fishing off the gulf of Mexico.

      //Ginevra Oertel
      div(style="display:flex;padding:10px;")
        img(src="images/bio_ginevra.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Ginevra Oertel </b>
              | joined UBHub as an intern for summer 2019. She is a master student of the Environmental Sciences, Policy and Management programme (MESPOM) at Central European University. She gained a European Studies bachelor’s degree at Maastricht University and focused her work mainly on environmental political issues. Ginevra’s past work projects focused on the minimization of food waste, the improvement of the food quality and on other sustainability related issues at both university campuses. She also worked internationally on environmental issues, such as in Malaysia on the sustainability and the role of small-scale farmers in the palm oil sector. Ginevra has a strong passion for the protection of the environment and has particular interests in resource management, nature-based solutions and urban greening.
              p Ginevra works on a team project on the analysis of biodiversity indicators currently used in cities. She helps analyzing which measures cities are using to track biodiversity and catalogues the indicators into the UBHub’s database.
              p
                a(href="https://www.linkedin.com/in/ginevra-oertel-a4214614a/")
                  img(src="images/logo_linkedin-14px.png")

      //Vishv Doriwala
      div(style="display:flex;padding:10px;")
        img(src="images/bio_vishv.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Vishv Doriwala </b>
              | joined UBHub as an intern for Summer 2018 to work on analyzing data and represent it spatially using ArcGIS mapping.
              p A Civil Engineer born and raised in Ahmedabad, India, he is currently pursuing his Masters in Urban and Regional planning from CEPT University, Ahmedabad. He has done two internships during his Bachelor's, and is currently doing a summer internship at 'Town and Country Planning Department' in Goa. He chose this location in order to learn coastal regulations and the methods that are in practice to preserve the coastline.
              p He enjoys Scuba diving, sea walking, and life under the water, and joined UBHub to learn new techniques and skills that would help in the betterment of coastal regulations and biodiversity in and around the water.

      //Chelsea Phan
      div(style="display:flex;padding:10px;")
          img(src="images/bio_chelsea.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
          div(class="bioBackground")
              div(style="overflow-y:auto; height:280px;")
                  div(style="padding:0px 12px 0px 0px;")
                      span(style="font-size:18px")
                          <b> Chelsea Phan </b>
                      | joined UBHub as an intern for Summer 2018. She is developing urban biodiversity resources in the UBHub database associated with Sustainable Development Goal 6 (SDG6), which focuses on wetlands and water.
                      p She is a first-year student in the MESPOM (Master’s in Environmental Sciences, Policy, and Management) programme, a joint degree programme by Central European University, Lund University, and the University of Manchester. Chelsea is from the United States and completed her undergraduate studies in environmental engineering at Brown University. She is interested in sustainable urban development, coastal management, and social entrepreneurship. In her free time, she likes to collect illustrated books, discover new bands, learn new forms of art and communication, and enjoy the outdoors.
                      p
                          a(href="https://www.linkedin.com/in/chelseaphan/")
                              img(src="images/logo_linkedin-14px.png")

      //Buyi Sun
      div(style="display:flex;padding:10px;")
        img(src="images/bio_buyi.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
              span(style="font-size:18px")
                <b> Buyi Sun </b>
              | joined UBHub as an intern for Summer 2018 as a student studying in Central European University. He started his academic career in MESPOM in 2017, a master’s program on Environmental Sciences, Policy and Management, to understand environmental issues from different perspectives.
              p Buyi obtained both theoretical knowledge and field experience by participating in red deer habitat investigation and other environmental monitoring programs during the study in China. He volunteered in a program on giant panda habitat protection and local community education. In addition, he has been learning to use geospatial tools to prepare for future professional career, such as ArcGIS, QGIS and Google Earth.
              p Buyi’s work in UBHub will be creating keywords for the current items in the database, and comparing different types of data in different sites.
              p
                a(href="https://www.linkedin.com/in/buyi-sun-893029160/")
                  img(src="images/logo_linkedin-14px.png")


      div(style="width=100%; background:#07456b; color:white; text-align:center; padding:5px; font-size:22px;") ADVISORY GROUP
      div(style="display:flex")
        div(style="padding:10px")
          | The advisory group comprises experienced practitioners who provide guidance for our activities via biannual meetings.


      div(style="display:flex;padding:10px;")
        img(src="images/bio_davidc.jpg" style="border-radius:20px 0px 0px 20px;height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
                <span style="font-size:18px"><b> David Cadman</b></span> served as president of ICLEI, city councillor for the City of Vancouver, Canada, and Director of the Greater Vancouver Regional District (now Metro Vancouver).

      div(style="display:flex;padding:10px;")
        img(src="images/bio_jose.jpg" style="border-radius:20px 0px 0px 20px; height:300px;")
        div(class="bioBackground")
          div(style="overflow-y:auto; height:280px;")
            div(style="padding:0px 12px 0px 0px;")
                <span style="font-size:18px"><b>Dr. José Puppim de Oliveira</b></span> is a faculty member at the Getulio Vargas Foundation (FGV/EAESP and FGV/EBAPE), Brazil. He also teaches at the Fudan University (Shanghai) and the Universidad Andina Simon Bolivar (Quito), and collaborates as a researcher at the United Nations University (UNU-IIGH) in Kuala Lumpur and MIT Joint Program on the Science and Policy of Global Change (USA).<p>He held positions of Senior Research Fellow and Assistant Director of UN University Institute of Advanced Studies (UNU-IAS) in Japan between 2009 and 2015 where he coordinated the Sustainable Urban Futures research program. Previously, he worked as faculty member at the University College London (UK) and the University of Santiago de Compostela (Spain) as a European Commission’s Marie Curie Fellow, and as an instructor, consultant and researcher for several organizations such as different United Nations agencies, the OECD, the World Bank Institute, sub-national and national governments, and various NGOs and small and large firms in the private sector.<p>He is editor-in-chief of the journal Public Administration and Development (PAD, Wiley-Blackwell) and member of several editorial boards. Jose holds a Ph.D. in Planning from the Massachusetts Institute of Technology (MIT), USA.

  +footer(true)
