doctype html
include mixins

html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            function changePassword() {
                httpPostAsync('/account', passwordChanged);
            }
            
            function passwordChanged(response) {
                clearFields();
                if(response === "true"){
                    showPasswordChangedPopup();
                } else {
                    showPasswordChangeFailedPopup();
                }
            }

            function showPasswordChangedPopup() {
                window.alert("Password changed")
            }

            function showPasswordChangeFailedPopup() {
                window.alert("Password changed failed")
            }

            function showForgotPasswordPopup() {
                window.alert("You can start the password recovery process by emailing us at ubhub.org@gmail.com Please include the email associated with your account, your username, full name, and address in the message.");
            }

            function clearFields() {
                document.getElementById('oldPassword').value = "";
                document.getElementById('newPassword').value = "";
                document.getElementById('confirmNewPassword').value="";
            }
            
            function httpPostAsync(theUrl, callback) {
                let oldPassword = document.getElementById('oldPassword').value;
                let newPassword = document.getElementById('newPassword').value;
                let confirmNewPassword = document.getElementById('confirmNewPassword').value;
                if(newPassword !== confirmNewPassword){
                    window.alert("New password must match confirm password");
                    return;
                }
                let data = {
                    "oldPassword" : oldPassword,
                    "newPassword": newPassword
                }
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        callback(xmlHttp.responseText);
                }
                xmlHttp.open("POST", theUrl, true); // true for asynchronous
                xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
                var dataAsJson = JSON.stringify(data);
                xmlHttp.send(dataAsJson);
            }

body
    +header(true)

    div(style="display:flex; flex-direction:column; height:200px; margin:auto; width:100%; align-items:center;")
        div(style="margin: 50px 0px 50px 0px;") #{userName} has earned #{userRep} reputation on the forum.
        div(style="width:60%;")
            div(style="margin-bottom:10px;") <b>Change password</b>
            div Current password
            input(type="password" id="oldPassword" style="border-radius:5px; border-style:solid; border-width:1px;")
            div(style="color:blue; font-size:10px; cursor:pointer; margin-bottom:10px;" onclick="showForgotPasswordPopup()") Forgot password
            div New password
            input(type="password" id="newPassword" style="border-radius:5px; border-style:solid; border-width:1px; margin-bottom:10px;")
            div Confirm new password
            input(type="password" id="confirmNewPassword" style="border-radius:5px; border-style:solid; border-width:1px;")
            div
                button(onclick="changePassword()" style="margin:10px;") Change password
                //button(onclick="clearFields()" style="margin:10px; background-color:white;") Cancel
        div()
            button(style="cursor:pointer;" onclick="window.location='/account/logout'") logout