doctype html
include mixins

html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            function changePassword() {
                httpPostAsync('/account', passwordChanged);
            }
            
            function passwordChanged(response) {
                document.getElementById('oldPassword').value="";
                document.getElementById('newPassword').value="";
                if(response === "true"){
                    showPasswordChangedPopup();
                } else {
                    showPasswordChangeFailedPopup();
                }
            }

            function showPasswordChangedPopup() {
                window.alert("Password changed")
            }

            function showPasswordChangeFailedPopup() {
                window.alert("Password changed failed")
            }

            function cancel() {
                document.getElementById('oldPassword').value = "";
                document.getElementById('newPassword').value = "";
            }
            
            function httpPostAsync(theUrl, callback) {
                let oldPassword = document.getElementById('oldPassword').value;
                let newPassword = document.getElementById('newPassword').value;
                let data = {
                    "oldPassword" : oldPassword,
                    "newPassword": newPassword
                }
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        callback(xmlHttp.responseText);
                }
                xmlHttp.open("POST", theUrl, true); // true for asynchronous
                xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
                var dataAsJson = JSON.stringify(data);
                xmlHttp.send(dataAsJson);
            }

body
    +header(true)

    div(style="display:flex; flex-direction:column; height:200px;")
        div(class="contentContainer" style="font-size:30px; width:60%;") #{userName} has #{userRep} reputation. Great job!
        div(class="contentContainer" style="width:60%; cursor:pointer;")
            div Change password
            div Current password
            input(type="text" id="oldPassword" style="border-radius:5px; border-style:solid; border-width:1px;")
            div New password
            input(type="text" id="newPassword" style="border-radius:5px; border-style:solid; border-width:1px;")
            div
                button(onclick="changePassword()" style="margin:10px;") Change password
                button(onclick="cancel()" style="margin:10px;") Cancel
        div(class="contentContainer" style="width:60%; cursor:pointer;" onclick="window.location='/account/logout'") logout