doctype html
include mixins
html
    head
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
        script(src='/javascripts/forumscripts.js')
        script.
            function goToDashboard() {
                console.log("clicked");
            }
            var simplemde;
            window.onload = function () {
                simplemdeQuestion = new SimpleMDE({ element: document.getElementById("questionBody"), hideIcons: ["guide", "heading", "fullscreen", "side-by-side", "image", "preview"], status: false });
                }


body
    +header(true)
    div(class="contentContainer")
      h2(style="text-align: center") Ask a Question!
      div
        form(action="" id="askForm")
          label Your Question:
          input(type="text" name="questionTitle")
          label Details:
          textarea(name="questionBody" id="questionBody")
          input(type="hidden" name="parentPost" value="-1")
          label Tags
          input(name="tags")
          input(type="button" onclick="submitQuestion('askForm')" value="Submit Question")
