doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            selectSite = function(siteName){
                console.log(siteName);
                window.location='/dashboard?id=' + siteName;
            }


body
    +header(true)

    div(style="padding:40px; margin:auto; max-width:800px;")
        - var sitesJSON = JSON.parse(sites);
        h1 myHub Locations
        div Please select the location you would like to be active.
        - for (var i = 0; i < sitesJSON.length; i++)
            +site(sitesJSON[i].id, sitesJSON[i].siteName)

        button(class="spaceAbove" style="cursor:pointer;" onclick="window.location='/createLocation'") create new

    +footer()