doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/index.css')

body
    +header(true)

    div(style="padding:40px;")
        div Create indicator

    +footer()