doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/cbiindicators.css')
        script(src='https://www.google.com/recaptcha/api.js')

body
    +header(true)

    script.
        function httpPostAsync(theUrl, callback){
                let user = document.getElementById('username').value;
                let pass = document.getElementById('password').value;
                let userAddress = document.getElementById('userAddress').value + " organization:" + document.getElementById('organization').value;
                let data = {
                    "username": user,
                    "password": pass,
                    "userAddress": userAddress
                }
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous
            xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            var dataAsJson = JSON.stringify(data);
            xmlHttp.send(dataAsJson);
        }
        function redirect(res){
            window.location = res;
        }

    div(style="max-width:400px; text-align:center; padding-bottom:20px; margin:auto; margin-top:50px;")
        div(style="display:inline;") Please create a new user below. Note that only pre-approved users are permitted to register during  our alpha development phase.

    form(id="emailForm" name="emailForm", method="post" onsubmit="submitForm()" style="display:flex; flex-direction:column; align-items:center; width:100%; padding-bottom:20px; margin-bottom:50px;")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Username
                input(name="username" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="text")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Mailing Address
                input(name="userAddress" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="text")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Organization
                input(name="organization" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="text")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Email
                input(name="alias" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="text")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Password
                input(name="password" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="password")
        div(style="display:flex; align-items:center; width:100%; padding-bottom:5px;")
            div(style="margin:auto; width:300px;")
                div(style="display:inline-block; margin-top:4px;") Verify Password
                input(name="verifyPassword" style="display:inline; float:right; border:solid; border-color:#4490ba; border-radius:5px; border-width:1px; padding:4px;" type="password")
        div(style="display:flex; align-items:center; width:100%; margin-bottom:20px;")
            div(class="g-recaptcha" data-sitekey="6LfgLSMUAAAAABRJzT1aYJTLTKHEc7zorV0nRPxm" style="margin:auto;")
        input(type="submit" value="Create User" style="background-color:#4490ba; border-radius:5px; border:none; padding:5px; color: white; cursor:pointer; margin:auto;")

    +footer()