doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')

body
    div(style="display:none; position:fixed; height:100%; width:100%; background-color:rgba(0,0,0,0.4); z-index:4;" id="createNewCategoryModal" onclick="hideModal('createNewCategoryModal')")
        div(style="height:200px; width:400px; background-color:white; margin:auto; border-radius:10px;" onclick="stopPropagation(event);")
            input(id="createNewCategoryInput")
            button(onclick="createCategory(); hideModal('createNewCategoryModal');") add category

    div(style="display:none; position:fixed; height:100%; width:100%; background-color:rgba(0,0,0,0.4); z-index:4;" id="createNewIndicatorModal" onclick="hideModal('createNewIndicatorModal')")
        div(style="height:200px; width:400px; background-color:white; margin:auto; border-radius:10px;" onclick="stopPropagation(event);")
            input(id="createNewIndicatorInput")
            button(onclick="createIndicator(); hideModal('createNewIndicatorModal');") add category

    +header(true)

    script.
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var i = 0;
            var element = ev.target
            while (!element.getAttribute("ondrop") && i < 100) {
                //console.log(ev.target);
                //console.log(ev.target.parentElement);
                console.log("recalibrating");
                element = element.parentElement;
                i++;
            }
            element.appendChild(document.getElementById(data));
        }

        function hideModal(id) {
            document.getElementById(id).style.display = "none";
        }

        function stopPropagation(e) {
            e.stopPropagation();
        }

        function createNewCategory() {
            console.log("create new category");
            document.getElementById('createNewCategoryModal').style.display = "flex";
        }

        function createCategory() {
            console.log(document.getElementById('createNewCategoryInput').value);
            var newCategory = document.createElement("div");
            newCategory.textContent = document.getElementById('createNewCategoryInput').value;
            document.getElementById("categoriesContainer").appendChild(newCategory);
            document.getElementById('createNewCategoryInput').value = "";
        }

        function createNewIndicator(){
            console.log("create new indicator");
            document.getElementById('createNewIndicatorModal').style.display = "flex";
        }

        function createIndicator(){
            console.log(document.getElementById('createNewIndicatorInput').value);
        }

        function createProgram() {
            console.log("create program");
        }

    div(style="padding:40px;")
        - var indicatorsJSON = JSON.parse(indicators);
        //div #{indicators}
        //div #{indicatorsJSON}
        div(style="display:flex;")
            div(style="flex-grow:1;") Indicators
                div(onclick="createNewIndicator()" class="button") create new indicator
                div(style="height:100%; width:100%; border:solid;" ondrop="drop(event)" ondragover="allowDrop(event)")
                    - for (var i = 0; i < indicatorsJSON.length; i++){
                        +indicator(indicatorsJSON[i].indicatorName, indicatorsJSON[i].description, indicatorsJSON[i].descriptionOfCalculation, i)
                    - }
            div(style="flex-grow:1;") Categories
                div(onclick="createNewCategory()" class="button") Create new category
                div(style="height:100%; width:100%; border:solid;" ondrop="drop(event)" ondragover="allowDrop(event)" id="categoriesContainer")
        div(onclick="createProgram()" class="button") Create Program
        //script.
        //    var indicators = !{indicators};
        //    console.log(indicators);
        //    console.log(indicators.length);
        //    for (var i = 0; i < indicators.length; i++) {
        //        console.log(indicators[i]);
        //        console.log(indicators[i].indicatorName);
        //        document.write("<div> indicator " + indicators[i].id +" </div>");
        //    }

    +footer()
