doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    +header(true)

    div(style="max-width:1000px; margin:auto; margin-top:100px; margin-bottom:50px; background-color:#fff1b6; display:flex; flex-direction:column; align-items:center;")
        div(style="font-size:20px; padding:10px; font-weight:bold; color:#E3965C; display:none;") This page is under construction; here is a preview of what we're building.
    div(style="max-width:800px; margin:auto; display:none;")
        img(src="/images/myHubPreview.png" style="max-width:800px;")

    div(style="max-width:800px; margin:auto;")
        div(style="display:flex; margin:auto;")
             for program in basicProgramData
                 if program.iconFileName
                     div(style="display:flex; flex-direction:column; cursor:pointer;" onclick="window.location='/programs/?id=#{program.id}'")
                        image(src="/images/#{program.iconFileName}")
                        div(style="text-align:center;") #{program.programName}
                 else
                     div(style="display:flex; flex-direction:column;")
                        div #{program.programName}

    div(style="display:none;")
        div(style="padding:40px;")
            div(style="width:100%; height: 200px; border:solid;") Program Snapshot
                div(onclick="window.location='/changeLocation'" class="button") change location
                div(onclick="window.location='/createCustomProgram'" class="button") create custom Program
                div(onclick="window.location='/dataEntry/?id=-1'") Begin New
            div(style="display:flex; width:100%;")
                div(style="border:solid; flex-grow:1;") myCBI Account
                div(style="border:solid; flex-grow:3;") Forum
                div(style="border:solid; flex-grow:1;") Environmental Services
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px; cursor:pointer;") Account Summary
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Followed Questions
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") FAQs
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Popular Forum Topics
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Snapshot
                //a(style="padding:10px;" href="http://default-environment.5bddwj795p.ca-central-1.elasticbeanstalk.com/map") Map

    +footer()

    //select * from userData where site matches
        //select site from sitesByUser where user = loggedInUser
            //result = myUserData;

    //for program in myUserData.programs
        //select * from programs where id = myUserData.programs
            //result = myPrograms;
        //select * from categories where program = myUserData.programs;
            //result = myCategories;
        //for category in myCategories
            //select * from indicators where id = category.id;
                //result = myIndicators;

    //programs = {};
    //categories = {};

    //for program in myPrograms
        //program = {name:myProgram.name, id:myProgram.id, categories: {}, ...};
        //programs[myProgramId] = program;
    //for category in myCategories
        //programs[category.program].categories[category.id] = {id:category.id, indicators: {}, ...};
        //categories[category.id].program = category.program;
    //for indicator in myIndicators
        //programs[categories[indicator.category.id]].categories[indicator.category.id].indicators[indicator.id] = {name:indicator.name, id:indicator.id, ...};
    //for indicatorData in myUserData
        programs[indicatorData.program.id] = indicatorData;