doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/cbiindicators.css')
        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    block content
        +header(true)

        div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px; cursor:pointer;") Account Summary
        div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Followed Questions
        div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") FAQs
        div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Popular Forum Topics
        div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Snapshot
        a(style="padding:10px;" href="http://default-environment.5bddwj795p.ca-central-1.elasticbeanstalk.com/map") Map