doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/forumscripts.js')
        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    +header(true)
    div.contentContainer
      h2(style="text-align: center") Welcome to the UBHub Forums
      +forumHeader
      div
        +indexPostLinks(posts)
        +forumPager

    +footer()