doctype html
include mixins
html
    head
        title UBHub
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs&callback=initMap")
        link(rel='stylesheet', href='/stylesheets/style.css')

body

    +header(true)

    div
        div(style="width=100%; text-align:center; background:url('/images/blue-background.png') darkblue; background-size: cover; height:400px; display:flex; justify-content:center;")
            div(style="padding-left:20px; padding-right:20px; max-width:900px;")
                div(style="color:white; font-weight:700; font-size:20px; margin-top:50px;") URBAN BIODIVERSITY HUB
                div(style="background:white; height:1px; width:50%; margin:auto; margin-top:10px; margin-bottom:10px;")
                div(style="color:white; padding-right:100px; padding-left:100px; padding-bottom:20px;") The Urban Biodiversity Hub (UBHub) helps cities around the world choose biodiversity strategies, then measure and improve their strategies and action plans
                div(style="color:white; font-size:20px; padding-top:20px; padding-bottom:15px;") UBHub offers:
                div(style="border-radius:10px; background-color:rgba(255,255,255,0.5); display:flex; justify-content:center;")
                    div
                        div
                            div(style="color:white; margin:auto; margin-top:10px;") Public Site
                            div(style="display:flex;")
                                div(class="homePageWhiteBoxWide") mapHub: searchable map of urban biodiversity activities
                                div(class="homePageWhiteBoxWide") guideHub: planning and management toolkits, guidebooks, and frameworks.
                    div(style="background:white; height:100px; width:1px; margin:auto; margin:10px;")
                    div
                        div(style="color:white; margin:auto; margin-top:10px;") myHub Members' Site
                        div(style="display:flex;")
                            div(class="homePageWhiteBox") Forum for Experts and Practitioners
                            div(class="homePageWhiteBox") Indicator Tracker to Manage Your Projects
            img(style="align-self:flex-end; height:70%;" src="/images/owl.svg")

    div(style="display:flex; flex-direction:column; width:100%; margin-bottom:40px; margin-top:40px;")
        div(style="color:#326f90; font-size:20px; margin:auto; margin-bottom:10px; margin-top:10px;") <b>What kind of species live in cities?</b>
        div(style="color:#326f90; font-size:20px; margin:auto; margin-bottom:10px; text-align:center;") Cities harbour a surprisingly high proportion of Earth's species biodiversity. Many of them are native or even endemic to their region (Convention on Biological Diversity 2012).
        img(style="height:400px; margin:auto;" src="images/UBHub_species_sep_2018.png")

    div(style="background:url('/images/blue_monkeys_horiz.png') darkblue; background-size: cover; width:100%; display:flex; align-items:center; height:400px;")
        div(style="padding:50px;")
            div(style="color:white; font-weight:700; font-size:36px; text-align:center; margin:auto; padding-bottom:10px;") <i>“Great platform for practitioners, students and researchers interested in knowing what cities are doing to improve local biodiversity and have a global impact."</i>
            div(style="color:white; font-size:20px; text-align:center; margin:auto;") -Jose A. Puppim de Oliveira (FGV, Brazil)

    div(style="display:flex; flex-direction:column; width:100%; margin-bottom:40px;")
        div(style="color:#326f90; font-size:20px; margin:auto; margin-bottom:10px; margin-top:10px;") <b>What is included in Urban Biodiversity?</b>
        div(style="color:#326f90; font-size:20px; margin:auto; margin-bottom:10px;") At UBHub, we take an inclusive approach to urban biodiversity.
        img(style="height:300px; margin:auto;" src="images/UBHub_urbanbio_def_sep_2018.png")

    div(style="background:url('/images/blue_monkeys_horiz.png') darkblue; background-size: cover; width:100%; display:flex; align-items:center; height:400px;")
        div(style="padding:50px;")
            div(style="color:white; font-weight:700; font-size:36px; text-align:center; margin:auto; padding-bottom:10px;") <i>“When I first saw UHUB, I quickly understood its wide ranging functionality and usefulness. As a practitioner, it provides me with a portal to understand what is possible in urban biodiversity and instantly increases our capacity to solve problems. For me, it represents the next generation in biodiversity  information systems."</i>
            div(style="color:white; font-size:20px; text-align:center; margin:auto;") -Grant Pearsell, City of Edmonton

    div(style="background:white; display:flex;")
        img(style="height:475px;" src="/images/lizard_green_long.svg")
        div
            div(style="display:flex; align-items:center;")
                div(style="margin:auto; text-align:center; padding-top: 20px; padding-left:60px; padding-right: 60px;")
                    div(style="color:#326f90; font-size:20px; margin-top:10px; margin-bottom:10px;") <b>mapHub</b>
                    div(style="color:#326f90; font-size:20px;") mapHub includes thousands of actions in over <span style="color:#f69056; font-weight:700; font-size:30px;">1200</span> locations around the globe, including more than <span style="color:#f69056; font-weight:700; font-size:30px;">700</span> municipal governments, over <span style="color:#f69056; font-weight:700; font-size:30px;">250</span> biodiversity plans and reports, and including participation in <span style="color:#f69056; font-weight:700; font-size:30px;">25</span> different international urban biodiversity networks and indicator programs.
                div(style="color:white; background:#f69056; border-radius:5px; padding:10px; margin-right:50px; margin-top:50px; text-align:center; cursor:pointer;" onclick="window.location='/map'") Explore the database
            div(style="margin:auto; display:flex; align-items:center; flex-direction:column; margin-top:20px;")
                div(style="display:flex; padding-right:80px;")
                    div(style="color:#326f90; font-weight:700;") Example locations:
                    div(onclick="document.getElementById('key').style.display='flex';" style="color:#326f90; font-weight:700; cursor:pointer; position:absolute; right:10px;") Show key
                div(id="key" style="display:none; border:solid; border-radius:5px; background-color:white; width:200px; flex-direction:column; padding:10px; position:absolute; top: 710px; right: 0px;" onclick="document.getElementById('key').style.display='none';")
                    div Key:
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            img(src="/images/arc_BC_ltblue.svg")
                        div Program participant
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            img(src="/images/arc_SI_drkblue.svg")
                        div Program completed
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            div SI
                        div Singapore Index
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            div BC
                        div Biophilic Cities Network
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            div LAB
                        div Local Action for Biodiversity Pioneer Programme
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            div EF
                        div Ecological Footprint
                    div(class="keyFlexbox")
                        div(class="keyFlexboxLine")
                            div C
                        div Customized Program
                    div Planning documents are listed by publication year
                div(style="display:flex; padding-right:80px;")
                    div(style="margin:10px;")
                        div(style="margin-bottom:-3px; background:url('/images/blue_singapore_50x180.png'); color:white; height:50px; width:180px;") 
                          div(style="padding-left: 10px; padding-top:6px;") <span style="font-size:20px; font-weight:bold;">Singapore</span>
                        div(style="border:solid; padding-left: 10px; border-width:1px; border-radius:0px 0px 10px 10px; border-color:#326f90; height:100px; width:168px;")
                            div(style="display:flex; margin-bottom:10px;")
                                img(src="/images/arc_SI_drkblue.svg" style="margin-top:10px;")
                                img(src="/images/arc_BC_ltblue.svg" style="margin-left:5px; margin-top:10px;")
                                div(style="position:relative; font-size:8px; height:0px; width:0px; left:-29px; top:40px;") 2013
                                img(src="/images/arc_EF_drkblue.svg" style="margin-left:5px; margin-top:10px;")
                                div(style="position:relative; font-size:8px; height:0px; width:0px; left:-29px; top:40px;") 2013
                            div(style="font-size:10px;") 2012 <b>Singapore Green Plan</b>
                            div(style="font-size:10px;") 2009 <b>Conserving Our Biodiversity</b>
                    div(style="margin:10px")
                        div(style="margin-bottom:-3px; background:url('/images/blue_jerusalem_50x180.png'); color:white; height:50px; width:180px;")
                          div(style="padding-left: 10px; padding-top:6px;") <span style="font-size:20px; font-weight:bold;"> Jerusalem</span><br><span style="font-size:10px;">ISRAEL</span>
                        div(style="border:solid; padding-left: 10px; border-width:1px; border-radius:0px 0px 10px 10px; border-color:#326f90; height:100px; width:168px;")
                            div(style="display:flex; margin-bottom:10px;")
                                img(src="/images/arc_LAB_drkblue.svg" style="margin-top:10px;")
                                div(style="position:relative; font-size:8px; height:0px; width:0px; left:-29px; top:40px;") 2009
                            div(style="font-size:10px;") 2012 <b>Green Jerusalem</b>
                            div(style="font-size:10px;") 2014 <b>Urban Nature in Jerusalem</b>
                            div(style="font-size:10px;") 2014 <b>Nature in the City Policy</b>
                    div(style="margin:10px;")
                        div(style="margin-bottom:-3px; background:url('/images/blue_vancouver_50x180.png'); color:white; height:50px; width:180px;")
                          div(style="padding-left: 10px; padding-top:6px;") <span style="font-size:20px; font-weight:bold;"> Vancouver</span><br><span style="font-size:10px;">CANADA</span>
                        div(style="border:solid; padding-left: 10px; border-width:1px; border-radius:0px 0px 10px 10px; border-color:#326f90; height:100px; width:168px;")
                            div(style="display:flex; margin-bottom:10px;")
                                img(src="/images/arc_EF_drkblue.svg" style="margin-top:10px;")
                                div(style="position:relative; font-size:8px; height:0px; width:0px; left:-29px; top:40px;") 2006
                                img(src="/images/arc_EF_drkblue.svg" style="margin-left:5px; margin-top:10px;")
                                div(style="position:relative; font-size:8px; height:0px; width:0px; left:-29px; top:40px;") 2015
                            div(style="font-size:10px;") 2015 <b>Bird Strategy</b>
                            div(style="font-size:10px;") 2016 <b>Biodiversity Strategy</b>

    div(style="background:url('/images/blue_monkeys_horiz.png') darkblue; background-size: cover; width:100%; display:flex; align-items:center; height:400px;")
        div(style="padding:50px;")
            div(style="color:white; font-weight:700; font-size:36px; text-align:center; margin:auto; padding-bottom:10px;") <i>"UBHub is taking collaboration to a whole new level.  I never realized there were so many urban biodiversity activities and resources out there before."</i>
            div(style="color:white; font-size:20px; text-align:center; margin:auto;") -Jennifer Rae Pierce, UBC

    div(style="display:flex; align-items:center; justify-content:center; padding-top:20px;")
        div(style="max-width:800px; margin:auto; padding-left: 5%; padding-right:5%;")
            div(style="color:#4490ba; font-size:20px; text-align:center; margin-top:10px; margin-bottom:10px;") <b>guideHub</b>
            div(style="color:#4490ba; font-size:20px; text-align:center;") guideHub includes <span style="color:#5ebd93; font-weight:700; font-size:30px;">100</span> resources, including a comparison of these <span style="color:#5ebd93; font-weight:700; font-size:30px;">6</span> guidelines for urban biodiversity planning to help you choose which is right for you.
        div(style="max-width:120px; text-align:center; margin:20px; border-radius:10px; padding:10px; background:#5ebd93; color:white; cursor:pointer;" onclick="window.location='/resources'") Explore our Resources
        img(style="width:320px;" src="/images/Possum2.svg")

    div(style="display:flex; max-width:1000px; margin:auto; min-width:600px; justify-content:space-around; padding:20px;")
        div(class="indexBox") Singapore Index
        div(class="indexBox")
            img(src="/images/logo_biophilicCities.png" height=60 width=120)
        div(class="indexBox")
            img(src="/images/LabProgrammeLogo.jpg" height=60 width=120)
        div(class="indexBox") The Economics of Ecosystems and Biodiversity
        div(class="indexBox") Biodivercities Methodology
        div(class="indexBox") Biodiversity Sensitive Urban Design

    div(style="width=100%; background:#4490ba; color:white; text-align:center; padding:10px; font-size:30px;") Explore Urban Biodiversity Actions

    div(style="position:relative;")
        div(id="map" style="height:550px; width:100%; max-width:1600px; margin:auto; z-index:-1;")
        div(style="position: absolute; top: 50%; left: 50%;")
            div(style="position: relative; margin-top: -25%; left: -50%; background:white; border-radius:10px; color:#4490ba; text-align:center; width: 140px; font-size:20px; padding:20px; z-index:1; cursor:pointer;" onclick="window.location='/map'") Go to<br>Interactive<br>Map

    div(style="width=100%; background:#4490ba; color:white; text-align:center; padding:10px; font-size:30px;") myHub Members' Page

    div(style="display:flex; align-items:flex-start; justify-content:space-between;")
        img(style="width:300px;" src="/images/Bee.svg")
        div(style="padding:30px;")
            div(style="margin:auto; max-width:600px; color:#4490ba; text-align:center; font-size:20px; margin-bottom:10px") myHub <b>Indicator Tracker</b>
            div(style="margin:auto; max-width:600px; color:#4490ba; text-align:center; font-size:20px;") With our indicator tracker, you can track your progress in one of our <span style="color:#fab279; font-size:40px; font-weight:700;">4</span> supported systems, or create your own <span style="color:#fab279; font-size:40px; font-weight:700;">custom</span> set of indicators.

    div(style="width:600px; margin:auto; margin-top:10px; margin-bottom:10px;")
        div(style="color:#4490ba;") <b>Dashboard Example</b> (note: data is for sample purposes only and does not reflect actual activity)
        div(class="blueBorder" style="padding:5px; margin:auto;")
            img(src="/images/sampleIndicatorsPage.PNG")

    div(style="display:flex; margin:auto; justify-content:space-around; align-items:center; margin:10px;")
        div(class="largeBlueText" style="max-width:400px; text-align:center;font-size:20px; padding: 20px 0px 20px 25%;") myHub <b>Forum</b><br> Get answers to your urban biodiversity questions from experts and discuss common challenges with fellow practitioners on our forum.
        div(style="border-radius:10px; background-color:#fab279; color:white; text-align:center; width:80px; padding:10px; display:flex; align-items:center; cursor:pointer;" onclick="window.location='/createUser'") Create an account

    div(style="background:url('/images/blue_overlook_nightcity_horiz.png') darkblue; display:flex; background-size: cover;")
        div(style="flex-grow:1;")
            div(style="color:white; font-size:30px; text-align:center; padding:20px;") Get Involved
            div(style="background-color:rgba(255,255,255,0.5); border-radius:10px; margin:auto; max-width:800px;")
                div(style="margin:auto; text-align:center; color:white; padding:20px; font-size:20px;") Are You A...
                div(style="display:flex; justify-content:space-around; padding-bottom:15px; ")
                    div(class="homePageWhiteBox") Government Official
                    div(class="homePageWhiteBox") Citizen
                    div(class="homePageWhiteBox") Expert
                    div(class="homePageWhiteBox") Press
            div(style="height:20px;")
        //img(src="/images/Capture.PNG" style="margin:20px;")

    +footer()

script.
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    var markers = [];
    var greyImage;
    var blueImage;
    var greenImage;
    var yellowImage;
    var lightOrangeImage;
    var orangeImage;
    var mapData = !{mapData};
    console.log(mapData);
    function initMap() {
      greyImage = {
          url: '/images/marker_0_grey_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
          //origin: new google.maps.Point(0, 0),
          //anchor: new google.maps.Point(11, 35)
      };
      blueImage = {
          url: '/images/marker_1_blue_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
          //origin: new google.maps.Point(0, 0),
          //anchor: new google.maps.Point(11, 35)
      };
      greenImage = {
          url: '/images/marker_2_green_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
          //origin: new google.maps.Point(0, 0),
          //anchor: new google.maps.Point(11, 35)
      };
      yellowImage = {
          url: '/images/marker_3_yellow_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
            //origin: new google.maps.Point(0, 0),
            //anchor: new google.maps.Point(11, 35)
      };
      lightOrangeImage = {
          url: '/images/marker_4_ltorange_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
            //origin: new google.maps.Point(0, 0),
            //anchor: new google.maps.Point(12, 46)
      };
      orangeImage = {
          url: '/images/marker_5_orange_39x59.png',
          scaledSize: new google.maps.Size(20, 30)
            //origin: new google.maps.Point(0, 0),
            //anchor: new google.maps.Point(11, 35)
      };
    var markerImages = [greyImage, blueImage, greenImage, yellowImage, lightOrangeImage, orangeImage];
        center = {lat: 25, lng: 15};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: center,
            disableDefaultUI: true,
            styles: [{"elementType": "geometry","stylers": [{"color": "#b6d5e3"}]}, 
            {"elementType": "labels.text.fill","stylers": [{"color": "#6da4c7"}]},
            {"elementType": "labels.text.stroke","stylers": [ { "color": "#b6d5e3" } ]},
            {"featureType": "administrative","stylers": [{"visibility": "simplified"}]},
            {"featureType": "administrative","elementType": "geometry","stylers": [{"color": "#f2f2f2"}]},
            {"featureType": "administrative", "elementType": "geometry.stroke", "stylers": [ { "color": "#ffffff" }, { "visibility": "on" } ] }, 
            { "featureType": "administrative", "elementType": "labels.text", "stylers": [ { "color": "#939393" } ] }, 
            { "featureType": "landscape", "stylers": [ { "color": "#cccccc" } ] }, 
            { "featureType": "landscape.man_made", "elementType": "geometry.stroke", "stylers": [ { "color": "#334e87" } ] }, 
            { "featureType": "landscape.natural", "stylers": [ { "color": "#d3e9d5" } ] }, 
            { "featureType": "poi", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#283d6a" } ] }, 
            { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#6f9ba5" } ] }, 
            { "featureType": "poi", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1d2c4d" } ] }, 
            { "featureType": "poi.park", "stylers": [ { "color": "#b8ddc3" }, { "visibility": "simplified" } ] }, 
            { "featureType": "poi.park", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "poi.park", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#f2f2f2" } ] }, 
            { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#4e6d70" } ] }, 
            { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [ { "color": "#f2f2f2" } ] }, 
            { "featureType": "road.arterial", "stylers": [ { "visibility": "simplified" } ] }, 
            { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "visibility": "simplified" } ] }, 
            { "featureType": "road.arterial", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "road.highway", "stylers": [ { "visibility": "simplified" } ] }, 
            { "featureType": "road.highway", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#4e6d70" } ] }, 
            { "featureType": "road.highway", "elementType": "labels.text.stroke", "stylers": [ { "color": "#f2f2f2" } ] }, 
            { "featureType": "transit", "stylers": [ { "color": "#b2b2b2" } ] }, 
            { "featureType": "transit", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, 
            { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#98d2b2" } ] }, 
            { "featureType": "transit", "elementType": "labels.text.stroke", "stylers": [ { "color": "#F2F2F2" } ] }, 
            { "featureType": "water", "stylers": [ { "color": "#b6d5e3" } ] }, 
            { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#4e6d70" } ] } ]});
        mapData.forEach(function (element) {
            if(element.lat){
                var contentString =
                    '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<div style="font-weight:bold; font-size:20px;">' + element.title + '</div>' +
                    '<div id="bodyContent">' +
                    (element.scale  !== null ?  '<div">' + element.scale + '</div>' : "") +

                    (element.biodiversity_url  !== null ?  '<div><a href="' + element.biodiversity_url + 'rel="noopener noreferrer" target="_blank"">Main link</a></div>' : "") +

                    (element.intplan_title  !== null ?  '<p>' + (element.intplan_year !== null ? element.intplan_year : "") + ' ' + element.intplan_title + " " : "") +
                    (element.intplan_url  !== null ?  '<a href="' + element.intplan_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.plan1_title !== null ? '<p>' + (element.plan1_year !== null ? element.plan1_year : "") + ' ' + element.plan1_title + " " : "") +
                    (element.plan1_url !== null ? '<a href="' + element.plan1_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.plan2_title !== null ? '<p>' + (element.plan2_year !== null ? element.plan2_year : "") + ' ' + element.plan2_title + " " : "") +
                    (element.plan2_url !== null ? '<a href="' + element.plan2_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.report_title !== null ? '<p>' + (element.report_year !== null ? element.report_year : "") + ' ' + element.report_title + " " : "") +
                    (element.report_url !== null ? '<a href="' + element.report_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.extra1_title !== null ? '<p>' + element.extra1_title + ' ' : "") +
                    (element.extra1_url !== null ? '<a href="' + element.extra1_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.extra2_title !== null ? '<p>' + element.extra2_title + ' ': "") +
                    (element.extra2_url !== null && typeof extra2_url !== "undefined" ? '<a href="' + element.extra2_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                    (element.EF_data_ghapercap !== null ? '<p>' + (element.EF_year !== null ? element.EF_year : "") + ' Ecological Footprint ' + element.EF_data_ghapercap + "gha/cap " : "") +
                    (element.EF_link !== null ? '<a href="' + element.EF_link + 'rel="noopener noreferrer" target="_blank"">source</a></p>' : "</p>") +


                    '</div>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var position = {lat:element.lat, lng:element.lng};
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: element.name,
                    icon: markerImages[getRandomInt(0, 5)]
                });
                marker.element = element;

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
                markers.push(marker);
            }
        });
    }
