doctype html
include mixins
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
html
    head
        title UBHub
        link(rel='stylesheet', href='/stylesheets/cbiindicators.css')
        script(src='https://www.google.com/recaptcha/api.js')
        meta(property="og:image" content="/images/UBHub_logo_horizwebsite.svg")
        meta(property="og:description" content="Urban Biodiversity Hub (UBHub) increases the capacity of local governments to implement effective biodiversity planning, management, measurement, and collaboration.")
        meta(property="og:title" content="Urban Biodiversity Hub")
        meta(property="og:url" content="http://ubhub.org")
        meta(property="og:type" content="website")

body

    script.
        function httpGetAsync(theUrl, callback){
            let user = document.getElementById('username').value;
            let pass = document.getElementById('password').value;
            let data = {
                "username": user,
                "password": pass
            }
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous
            xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            var dataAsJson = JSON.stringify(data);
            xmlHttp.send(dataAsJson);
        }
        function redirect(res){
          window.location = res;
        }

    +header(true)

    h1(style="text-align:center;") Thank you for your interest in the Urban Biodiversity Hub.

    div(style="display:flex; justify-content:center;")

      div
        div(style="display:flex; margin-left:20px; margin-right:20px;")
            div(style="max-width:300px; padding-top:30px;") You can spread the word about us by sharing our website or our flyer <a href="/pdfs/11x8 handout UBHub_Sep2018.pdf">pdf</a>.
            a(href="/pdfs/11x8 handout UBHub_Sep2018.pdf" style="margin:20px;")
                img(src="/images/handout-UBHub-thumbnail.png" height="150")
        div(style="display:flex; margin:20px;")
            div(style="max-width:300px;") <b>Beta Testing Programme</b><p>UBHub is seeking participants for our Beta Testing Programme who will test the myHub web tool during its early access phase. The myHub web tool supports local governments to develop, measure, and assess their biodiversity strategy.<p>Find out more on our Beta Tester handout at right.
            a(href="/pdfs/A4BetaTesterHandout.pdf" style="margin:20px;")
                img(src="/images/BetaHandoutThumbnail.png" height="150")

    div(style="display:flex; flex-direction:column; align-items:center; max-width:400px; margin:auto; margin-bottom:20px;")
        div(style="text-align:center; padding-bottom:20px;") If you are an academic, a student, consultant, or practitioner in urban biodiversity or related issues, please consider joining our forum.  To do this, you will first need to sign up <a href="/createUser">here</a>.
        div(style="margin:auto; text-align:center; line-height:1.5;") If you would like to contact us directly, rather than through the forum, do so by emailing us at <b>ubhub.org@gmail.com</b><br>.

    script.
        function submitForm() {
            var formElements = document.getElementById("emailForm").elements;
            var postData = {};
            for (var i = 0; i < formElements.length; i++)
                if (formElements[i].type != "submit")//we dont want to include the submit-buttom
                    postData[formElements[i].name] = formElements[i].value;
            if(postData.email === postData["verify-email"] && postData.email.toString().length > 0 && postData["g-recaptcha-response"].length > 0)
                window.alert("Thank you " + postData.nameFirst);
            else
                if(postData['g-recaptcha-response'].length < 1)
                    window.alert("Sorry, you need to check the box that says you\'re not a robot.")
                else
                    window.alert("Sorry, but it seems that something is missing. Please verify that the \"Email\" and \"Verify Email\" fields have a valid email address and match each other.")
        }
      
    +footer()