doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/cbiindicators.css')

body
    block content

    script.
        function httpGetAsync(theUrl, callback){
            let user = document.getElementById('username').value;
            let pass = document.getElementById('password').value;
            let data = {
                "username": user,
                "password": pass
            }
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous
            xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            var dataAsJson = JSON.stringify(data);
            xmlHttp.send(dataAsJson);
        }
        function redirect(res){
          window.location = res;
        }

    h1= CBI
            div(style="border-bottom:solid; display:flex; justify-content:space-between;")
                img(src="/images/CBI Coalition logo.png" style="height:100px; margin-bottom:10px;")
                div(style="display:flex;")
                    div(style="margin:20px; cursor:pointer;") About CBI
                    div(style="margin:20px; cursor:pointer;") Resources
                    div(style="margin:20px; cursor:pointer;") About Us
                    div(style="margin:20px; cursor:pointer;") Search
    div.input
      input(type="text", id="username")
    div.input
      input(type="text", id="password")
    button(onclick='httpGetAsync("/users", redirect)') Login
    button(onclick='httpGetAsync("/createUser", console.log)') Create User