extends layout

body
  block content

    script.
        var submitLogin = function() {
            console.log('something')
        }

    h1= title
    p Welcome to #{title}
    div.input
      input(type="text", name="username")
    div.input
      input(type="text", name="password")
    button(onclick='submitLogin()') Click