doctype html
include mixins
include mapMixins
html
    +mapHead
body
    +header(true)

    div(class="contentContainer noBorder")
        div.mapIntro
            //strong Welcome to the pre-Alpha Website for CBI Coalition. <br> Thank you for your contribution to the site.
            //p CBI Coalition is compiling a database of urban biodiversity programs, data, and activities around the world. Below is a map of our current data.
            //p You may view your data or submit more data on
              //a.genericLink(onclick="window.location='/yourUploads'")  your uploads manager.

        h2.mapLabel mapHUB

        div#map

        +mapInfoTab("Results Summary", "mapInfoSummary", "#b2b2b2", false)
        +mapInfoSummary(mapSummary)

        +mapInfoTab("Highlight Results", "highlightSettings", "#f69056", true)
        +mapInfoHighlights

        +mapInfoTab("Filter Results", "filterSettings", "#6da4c7", true)
        +mapInfoFilters(mapFilterParameters)

        +mapInfoTab("Table of Results", "mapInfoResults", "#98d2bd", false)
        +mapInfoResults(mapData)
