doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/forumscripts.js')
        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    +header(true)
    div(class="contentContainer")
      h2(style="text-align: center") #{post.subject}
      p #{post.body}
      div
        +indexPostLinks(children)
        form(action="" id="askForm")
          label Your Response:
          input(type="text" name="questionTitle")
          label Details:
          textarea(name="questionBody")
          input(type="hidden" name="parentPost" value="#{post.id}")
          input(type="button" onclick="submitQuestion()" value="Submit Response")
