doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/forumscripts.js')
        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    +header(true)
    div(class="contentContainer")
      h2(style="text-align: center") #{post.subject}
      p #{post.body}
