doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/forumscripts.js')

        script.
            function goToDashboard() {
                console.log("clicked");
            }


body
    +header(true)
    div.spacer
    div.contentContainer
      +forumHeader()
      p.forumAsker #{post.author} asks:
      h2.forumTitle #{post.subject}
      p.postBody #{post.body}
      +postMeta(post)
      div
        +responsePosts(children)
        form(action="" id="askForm")
          label Your Response:
          input(type="text" name="questionTitle")
          label Details:
          textarea(name="questionBody")
          input(type="hidden" name="parentPost" value="#{post.id}")
          input(type="button" onclick="submitQuestion('askForm')" value="Submit Response")
    div.spacer
  +footer
