doctype html
include mixins

html
    head
        style.
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            let dataFromServer = !{programData};
            window.onLoad = function() {
                console.log(dataFromServer);
            }

body
    +header(true)

    - var data = JSON.parse(programData);
    - for(var i = 0; i < data.categories.lengths; i += 1) {
        div #{data.categories.categoryName}
            - for(var j = 0; j < data.indicators.length; j += 1) {
                if(data.indicators[j].categoryId == data.categories[i].id)
                    div #{data.indicators.indicatorName}
            - }
    - }

    div(class="button spaceAbove") Save Program Instance
