doctype html
include mixins

html
    head
        style.
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript" src="/javascripts/model.js")
        script.
            let dataFromServer = !{programData};
            let program;
            window.onload = function() {
                console.log(dataFromServer);
                program = new model.Program();
                program.create(dataFromServer);
                console.log(program);
                for (let i = 0; i < program.categories.length; i += 1) {
                    let category = document.createElement('div');
                    category.textContent = program.categories[i].categoryName;

                    for (let j = 0; j < program.categories[i].indicators.length; j += 1) {
                        let indicator = document.createElement('div');
                        indicator.textContent = program.categories[i].indicators[j].indicatorName;

                        indicator.style = "margin-left:10px;";
                        category.append(indicator);
                    }
                    let container = document.getElementById("container");
                    container.append(category);
                }
            }

body
    +header(true)

    div(class="spaceAbove")

    div(id="container")

    div(class="button spaceAbove" onclick="console.log(program);") Save Program Instance
