doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')

body
    +header(true)
    div(style="padding-top:40px;")
    div(style="max-width:800px; margin:auto;")
        div(style="display:flex; margin:auto;")
            div.activityButton(onclick="window.location='/program/?newId=#{query}'") Create new
            if rows.names.length > 0
                -for (let i = 0; i < rows.names.length; i++)
                    div.activityButton(onclick="window.location='/program/?id=#{rows.ids[i]}'") !{rows.names[i]}

    +footer()