@media only screen and (min-width:700px){
  .hideWhenNarrow{
    /*display: block;*/
  }

  .showWhenNarrow{
    display: none;
  }

}

@media only screen and (max-width:701px){
  .hideWhenNarrow{
    display: none;
  }

  .showWhenNarrow{
    /*display: block;*/
  }
}

body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.genericLink {
  text-decoration: underline;
  cursor: pointer;
}

button {
  background-color: #daecf1;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

button:hover {
  background-color: #e9f6f9;
}

.border{
  border:solid; border-radius:5px; border-width:1px;
}

.blueBorder{
  border:solid; border-radius:5px; border-width:1px; border-color:#4490ba;
}

.largeBlueText{
  color:#4490ba; font-size:30px;
}

.item{
  border:solid; border-width:1px; border-color:grey; display:table-cell; padding: 5px;
}

.record{
  padding-bottom: 20px; cursor: pointer; display:table-row;
}

.record:hover{
  border:solid; border-color: #00B7FF;
}

.select{
  flex-grow: 1; margin-left:5px;
}

.fullLine{
  display: flex; padding-bottom: 5px;
}

.inline{
  display: inline;
}

.bigLabel{
  font-size:18px; font-weight:700;
}

.homePageWhiteBox{
  background-color:white; border-radius:10px; height: 40px; width: 120px; padding:20px; margin:10px; color:#326f90; font-weight:700; display:flex; justify-content:center; align-items:center; text-align:center;
}

.homePageWhiteBoxWide{
  background-color:white; border-radius:10px; height: 40px; width: 160px; padding:20px; margin:10px; color:#326f90; font-weight:700; display:flex; justify-content:center; align-items:center; text-align:center;
}

.indexBox{
  border:solid; border-radius:10px; border-color:#326f90; height:80px; width:140px; border-width:1px; margin:10px; text-align:center; color:#326f90; display:flex; align-items:center; justify-content:center; font-size:13px;
}

.smallText{
  font-size: 10px; padding-bottom: 10px;
}

.keyFlexbox{
  display: flex; align-items: center;
}

.keyFlexboxLine{
  display: flex; height:40px; width:40px; align-items: center; justify-content: center;
}

.button{
  cursor: pointer; border: solid; border-width: 1px; border-radius: 10px; background-color: #4490ba; width: fit-content; padding: 10px;
}

.color{
  border-radius: 100%;
  cursor: pointer;
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.contentContainer {
  max-width: 800px; margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 12px;
}

/**Forum**/

.spacer {
  height: 48px;
}

.forumHeader {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #aaa;
}

.forumHeader>div {
  display: flex;
  flex-grow: 1;
}

.forumHeader .searchOption input {
  padding: 6px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #aaa;
}

.forumHeader .searchOption button {
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: 1px solid #aaa;
  border-width: 1px 1px 1px 0;
  cursor: pointer;

}

.forumHeader .sortOption {
  padding: 6px;
}

.forumHeader .sortOption span {
  margin-left: 4px;
  cursor:pointer;

}

.forumHeader .sortOption span.active {
  font-weight: bold;
  cursor: default;
}

.forumHeader .askOption{
  justify-content: flex-end;
}

.forumHeader .askOption button {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #aaa;
  cursor: pointer;

}

.forumAsker {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;
}

h2.forumTitle {
  margin-top: 4px;
}

h3.forumTitle {
  margin-top: 4px;
}

p.postBody {
  line-height: 1.4;
}

.forumPostVotes {
  display: inline-block;
  width: 36px;
}

.forumPostVotes>span {
  display: block;
  color: #333;

}

.forumPostVotes>span.votesDelta {
  font-size: 24px;
  font-weight: bold;
}

.forumPostVotes>span.upvotes, .forumPostVotes>span.downvotes {
  font-size: 12px;
  color: #666;
}


.postLinkContent {
  display: inline-block;

}

.postLinkStatus {
  font-size: 12px;
}

.postLinkStatus a{
  font-weight: bold;
}

.forumPostMeta {
  padding: 12px 0;
}

.forumPostMeta>span{
  background: #d3e9d5;
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 16px;
  font-weight: 700;
}

.forumPostMeta span span.number {
  background-color: #d3e9d5;
  padding: 2px;
  margin-left: 4px;
  font-weight: 400;
}

.forumPostMeta>span.upvotes, .forumPostMeta>span.downvotes {
  cursor: pointer;
}

.forumPostMeta .replyButton {
  float: right;
  padding: 4px 8px;
}

.singleComment {
  border-top: 1px solid #aaa;
  margin-top: 12px;
}

.comments {
  padding-left: 25px;
}

.responseBox.hide {
  display: none;
}

.responseBox label{
  display: block;
  font-weight: 700;
}

.responseBox textarea {
  height: 200px;
  width: 480px;
  resize: none;

}

.responseBox input {
  display: block;
}

#askForm {
  margin-top: 24px;
}

#askForm.highlighted label {
  background-color: #ffef94;
}

#askForm label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  transition: all 0.5s;
}

#askForm input {
  width: 100%;
  max-width:480px;
  display: block;
  padding: 4px;
  margin-bottom: 12px;
}

#askForm textarea {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  resize: none;
  padding: 4px;
  height: 320px;
}

.indexPostLinks .singlePostLink {
  padding: 24px;
  background-color: #fff;
  border: 1px #36806a solid;
  border-radius: 5px;
  margin-top: 12px;
}

.singlePostLink h3 {transition: all 0.5s;}
.singlePostLink h3:hover {color:#36806a;}

.singlePostLink.focused {
  background-color: #d8ecd4;
}


.singlePostLink.accepted {
  background-color: #d8ecd4;
}


.singlePostLink .acceptedBadge {
  display: block;
  background-color: #269973;
  color: #fff;
  padding: 12px;
  margin-left: -24px;
  border-radius: 0 5px 5px 0;
  width: 180px;
  font-weight: thin;
  font-style: italic;
  text-transform: uppercase;
}

.forumPager {
  text-align: center;

}

.forumPager .pager {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
}

.forumPager .pageButton {
  text-decoration: none;
  margin: 12px;
  cursor:pointer;
}

/*Map*/
.contentContainer.noBorder {
  border-width: 0;
}

.mapIntro {
  text-align: center;
  margin: auto;
  width: 600px;
  padding-bottom: 10px;
}

.mapLabel {
  color:#4490ba;
  font-weight:bold;
  font-size:20px;
}

#map {
  height:400px;
  width:100%;
  max-width:800px;
  padding-bottom:20px;
}

.mapInfoTab {
  margin-top:10px;
  width:100%;
  max-width:790px;
  padding:5px;
  display:flex;
  justify-content:space-between;
  color:white;
  font-style:italic;
  font-weight:700;
  cursor:pointer;
}

.mapInfoTab .reset {
  display: flex;
}

.mapInfoTab .reset .resetButton {
  /*background-color:white;*/
  /*border-radius:5px;*/
  color:white;
  /*padding-left:5px;*/
  padding-right:5px;
}

.mapInfoTab img.tabArrow {
  transform:rotate(180deg);
  transform-origin:center;
  height:13px;
  transition: transform 0.25s;
}

.mapInfoTab.active img.tabArrow {
  transform: rotate(90deg);
}

.mapInfoContent {
  height: auto;
  opacity: 1;
  height: auto;

}

.mapInfoContent.hide {
  opacity: 0;
  height: 0;
  overflow: hidden;

}

.mapInfoContent .formItem {
  display: inline-block;
  width: calc(33% - 36px);
  padding: 6px 18px

}

.mapInfoContent label {
  display: block;
  font-weight: bold;
  padding-left: 4px;
}

#map .bodyContent h4 {
  margin-top: 4px;
  margin-bottom: 0;
}

#map .bodyContent p{
  margin-top: 2px;
  margin-bottom: 0;
}



.selectBox {
  background-color: #fff;
  border: 1px solid #326f90;
  width: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.selectBox:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #326f90;
  position: absolute;
  top: 40%;
  right: 8px;
  content: "";
  z-index: 98;

}

.selectBox select {
  width: 240px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  margin: 0;
  padding: 4px;
}

.mapInfoContent#filterSettings label {
  color: #326f90;
}

div.quarters {
  display: flex;
}

div.quarters>div {
  width: 25%;
}

div.thirds {
  display: flex;
}

div.thirds>div {
  width:33.33%;
}

#highlightSettings label {
  color: #bb6d37;
  font-weight: bold;
  margin: 6px;
}

.activityButton {
  border-radius: 12px;
  border: 1px solid #bb6d37;
  background-color: #fff;
  padding: 16px 24px;
  font-size: 15px;
  height: 72px;
  text-align: center;
  margin: 8px;
  cursor: pointer;
  align-content: center;
  position: relative;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.activityButton img {
  max-width: 100%;
  max-height: 80px;
}

.activityButton>p {
  margin-top: 0;
  margin-bottom: 0;
}

.activityButton.activeButton {
  box-shadow: 3px 3px 0 #f69056, -3px -3px 0 #f69056, -3px 3px 0 #f69056, 3px -3px 0 #f69056;
}

.summaryStat {
  padding: 24px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  background-color:#fff;
  margin: 12px;
}

.summaryStat h3 {
  font-size: 36px;
  margin-bottom: 4px;
}

.summaryStat p {
  margin-top: 4px;
}


table.mapValuesTable {
  width: 100%;
}


table.mapValuesTable tr td{
  padding: 12px;
  height: 30px;
  vertical-align: top;

}

table.mapValuesTable tr:nth-child(odd) {
  background-color: #eff6e8;
}

table.mapValuesTable th {
  background-color: #acd9bb;
  padding: 12px;
  text-align: left;
}

table.mapValuesTable th#mvTitle {
  width: 20%;
}

table.mapValuesTable th#mvPrograms {
  width: 60%;
}

table.mapValuesTable td.mvPrograms p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 13px;
}

table.mapValuesTable td.mvPrograms h4 {
  margin-bottom: 3px;
  margin-top: 8px;
  font-size: 13px;
}

table.mapValuesTable td.mvPrograms h4:first-child {
  margin-top: 0 !important;
}

table.mapValuesTable td.mvTitle {
  font-weight: bold;
}

table.mapValuesTable #mapTableValues>p {
  padding: 12px;
  width: 300px;
}

div.mapValuesControl {
  text-align: center;
  margin-bottom: 60px;
}

div.mapValuesControl span {
  font-weight: bold;
  color: #4490ba;
  cursor: pointer;
  margin: 12px;

}

div.mapValuesControl span.disabled {
  color: #b6d5e3;
  cursor: default;
}



/*
Blue
1  07456b
2  326f90 dark blue
4  4490ba
5  71afd1
6  93c2d9
7  b6d5e3 medium blue
9  daecf1
10 e9f6f9 light blue

Orange
E3965C

Green
1  235449
2  3b7e6a
3  269973 dark green
4  2fb585
5  70ba8f
6  91cfa8
7  acd9bb medium green
8  c1e3cd
9  d8ecd4
10 eff6e8 light green

Yellow
1  683d1a
2  8c5222
3  c58c2b dark yellow
5  e7b627
6  fcd350
7  ffe57b medium yellow
8  ffef94
9  fff1b6
10 fffceb

Red
1  742109
2  a63720
3  d82d27
4  f2613a
5  f69056
6  fab279

Black
1  000000
2  10% gradient
3
4
5
6
7
8
9
10
11 5% black

*/
