header{
  
    max-width: 900px;
    margin: auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    
    

    .login-container{
        background: #b8ddc3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    @media (min-width: 930px) {
        .logo-container {
            position: absolute;
        }
    }

    .nav-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column-reverse;

        @media (min-width: 930px) {
            flex-direction: column;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        width: 200px;
    }

    nav {
        display:flex; 
        justify-content:space-between;
        background: #eff6e8;

        @media (min-width: 930px) {
            width: 80%;
            float: right;
            position: static;
            align-self: end;
        }

    
        ul {
          display: none;
   
        } 

        @media (min-width: 930px) {
            ul {
                display: flex;
                justify-content: space-around; 
                flex-grow:1;
                padding-left: 0;
                margin: 0;
            }
        }

        li {
            padding:10px; 
            cursor:pointer; 
            color:#316b59; 
            font-weight:700;
            list-style: none;

        }
    }

    @media (min-width: 930px) {
        display: flex;
        justify-content: center;
    }
}

.menu-toggle {
    background: transparent;
    width: 40px;
    height: 23px;
    border: 3px solid rgba(20, 20, 20, 1);
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    position: relative;
    z-index: 999999999;

    @media (min-width: 930px) {
        display: none;
        
    }
}

.menu-toggle::before {
    content: ' ';
    width: 40px;
    border-top: 3px solid rgba(20, 20, 20, 1);
    position: absolute;
    left: 0;
    top: 7px;
}

button.menu-toggle:hover {
    background-color: transparent;
}

button.menu-toggle:active{
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.active-nav {
  display: block;
  width: 100%;
}


