//colors

//UBHUBCOLORS

//blues
$base-blue: #07456b;
$dark-blue: #326f90;
$blue: #4490ba;
$blue-two: #71afd1;
$blue-three: #93c2d9;
$medium-blue: #b6d5e3; 
$blue-four: #daecf1;
$light-blue: #e9f6f9;

//orange
$orange: #E3965C;

//Greens
$green-one: #235449;
$green-two: #3b7e6a;
$dark-green: #269973;
$green-three: #2fb585;
$green-four: #70ba8f;
$green-five: #91cfa8;
$medium-green: #acd9bb; 
$green-six: #c1e3cd;
$green-seven: #d8ecd4;
$light-green: #eff6e8; 

// Yellow
$yellow-one: #683d1a;
$yellow-two: #8c5222;
$dark-yellow: #c58c2b;
$yellow-three: #e7b627;
$yellow-four: #fcd350;
$medium-yellow:  #ffe57b;
$yellow-five: #ffef94;
$yellow-six: #fff1b6;
$yellow-seven: #fffceb;

//Red
$red-one: #742109;
$red-two: #a63720;
$red-three: #d82d27;
$red-four: #f2613a;
$red-five: #f69056;
$red-six: #fab279;

//Black
$black: #000000;
$black-gradient:  10%;
$black-second-gradient: 5%;






